<%- include('partials/header') %>
<div style="text-align: center; color: red;">
    <h1>¡Ups! Algo salió mal en Geos</h1>
    <p><%= mensaje %></p>
    <a href="/mascotas">Regresar al inicio</a>
</div>
<%- include('partials/footer') %>